body {
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: white;
    overflow: hidden;
    font-family: Tahoma;
}

nav {
    display: inline-flex;
    position: absolute;
    height: 100%;
    width: 200px;
    left: 0;
    background-color: grey;
    margin-left: -200px;
}

.section {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.zero {
    display: none;
}

#btn {
    padding: 9px 26px;
    border: solid black 3px;
    border-radius: 40px;
    background-color: white;
    font-size: 22px;
    font-weight: bold;
}

#btn-red {
    padding: 9px 26px;
    border-radius: 40px;
    background-color: #d7000f;
    color: white;
    font-size: 22px;
    font-weight: bold;
    border: 0px;
}

#test-cont {
    width: 900px;
    height: 700px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url("./img/smoke.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
}