    * {
        box-sizing: border-box;
    }
    
    a {
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
        transition: ease-in-out 0.2s;
    }
    
    a:hover {
        color: #6851FF;
    }
    
    body {
        margin: 0;
        box-sizing: border-box;
        background-color: white;
        font-family: Tahoma;
        height: 100vh;
    }
    
    img {
        width: auto;
        height: auto;
    }
    
    #container {
        transition: 0.7s ease-in-out;
        display: inline-block;
    }
    
    #main {
        height: 100vh;
        overflow: hidden;
    }
    
    #nav {
        position: absolute;
        height: 55px;
        width: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        font-stretch: 50%;
        color: #d7000f;
        font-size: 25px;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 100%;
        margin: 20px;
        font-stretch: extra-condensed;
    }
    
    #nav::after {}
    
    .section {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }
    
    .btn {
        all: unset;
        border: solid black 2px;
        font-size: 21px;
        font-weight: bold;
        padding: 15px 33px;
        border-radius: 40px;
        transition: 0.13s ease-in-out;
        display: inline-block;
        margin-bottom: 10px;
    }
    
    .sqr-btn {
        background-color: black;
        font-size: 19px;
        font-weight: bold;
        text-align: center;
        padding: 15px 0;
        width: 120px;
        margin-right: 10px;
        color: white;
        display: inline-block;
        transition: 0.3s ease-in-out;
    }
    
    .purple {
        background: rgb(120, 59, 245);
        background: linear-gradient(342deg, rgba(120, 59, 245, 1) 10%, rgba(173, 101, 225, 1) 100%);
    }
    
    .light-purple {
        background: rgb(120, 59, 245);
        background: linear-gradient(-20deg, #9865fe 0%, #c377f3 100%);
    }
    
    .ignore {
        position: absolute;
    }
    
    #btn-purple {
        background: linear-gradient(350deg, #8040f2 10%, #b05ee4 90%);
        color: white;
        border: 0px;
        transition: 0.3s;
    }
    
    #btn-purple:hover {
        background: linear-gradient(350deg, #9965f4 10%, #b47be9 90%);
    }
    
    #btn-red {
        background-color: #d7000f;
        color: white;
        border: 0px;
    }
    
    .btn:hover {
        background-color: rgba(200, 200, 200, 0.5);
    }
    
    #btn-red:hover {
        background-color: #e03844;
    }
    
    #test-cont {
        width: 900px;
        height: 700px;
        display: flex;
        background-color: rgba(0, 0, 0, 0.7);
        background-image: url("img/smoke.jpg");
        background-position: center;
        background-size: cover;
        background-blend-mode: darken;
    }
    
    .big-font {
        font-size: 50px;
        line-height: 1em;
    }
    
    .bigger-font {
        font-size: 85px;
        font-weight: bolder;
        letter-spacing: -0.05em;
        margin-bottom: 0;
        line-height: normal;
    }
    
    #img1 {
        left: 13%;
        width: 33vw;
        z-index: 1;
    }
    
    #background1 {
        width: 37%;
        height: 100%;
        left: 0;
        align-self: flex-start;
    }
    
    .section.one {
        height: 100vh;
        position: relative;
        flex-direction: row;
    }
    
    .section.two {
        height: 100vh;
        width: 100%;
    }
    
    .section.two p {
        color: white;
    }
    
    .section.three {
        height: 100vh;
        align-items: flex-start;
        padding: 80px 3%;
        flex-direction: row;
    }
    
    .section.three h1 {
        color: #333333;
    }
    
    #text1 {
        width: 40vw;
        text-align: left;
        margin-left: 5vw;
        display: flex;
        flex-direction: column;
    }
    
    #p1 {
        color: #555555;
        font-size: 22px;
        line-height: 1.5em;
        margin-top: 40px;
        padding-right: 5vw;
    }
    
    #background2 {
        height: 100vh;
        width: 100vw;
        background-image: url("img/smoke.jpg");
        background-size: cover;
        background-color: black !important;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    
    #img2 {
        width: auto;
        max-width: 75%;
        height: auto;
        max-height: 65%;
        margin-bottom: 30px;
    }
    
    #left3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        font-size: 16px;
        line-height: 1.6em;
        height: 100%;
        width: 60%;
        padding-right: 6%;
    }
    
    #left3 h1 {
        margin-bottom: 25px;
        margin-top: 0;
    }
    
    #left3 p {
        margin: 15px 0;
    }
    
    #right3 {
        display: flex;
        width: 30%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    
    #right3 img {
        width: 100%;
        height: auto;
    }
    
    @media screen and (max-width: 1000px) {
        .mobile {
            font-size: 0.9em;
        }
    }
    
    @media screen and (max-width: 900px) {
        .mobile {
            line-height: 1.4em;
            text-align: center;
        }
        .big-font {
            font-size: 30px;
            margin-bottom: 20px;
        }
        .bigger-font {
            margin-top: 15px;
            font-size: 38px;
        }
        #background1 {
            height: 10vh;
            width: 100%;
            top: 0;
        }
        #img1 {
            width: 30%;
            align-self: center;
            left: initial;
        }
        .section.one {
            flex-direction: column;
        }
        #text1 {
            width: 90%;
            text-align: center;
            margin: 10px 8% 30px;
        }
        #p1 {
            font-size: 19px;
        }
        .section.three h1 {
            align-self: center;
            text-align: center;
        }
        .section.three {
            flex-direction: column-reverse;
            padding: 40px 8%;
        }
        #left3 {
            display: flex;
            width: 100%;
            padding-right: 0;
            justify-content: flex-start;
        }
        #right3 {
            width: 100%;
            padding: 4% 10%;
            height: initial;
        }
        #right3 img {
            width: 40%;
        }
    }
    
    @media screen and (max-width: 700px) {
        .bigger-font {
            margin: 10px 0 15px;
        }
        .mobile {
            font-size: 0.8em;
            line-height: 1.4em;
        }
        #right3 img {
            width: 60%;
        }
    }