    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        box-sizing: border-box;
        background-color: white;
        font-family: Tahoma;
        height: 100vh;
    }
    
    #container {
        transition: 0.7s ease-in-out;
        display: inline-block;
    }
    
    #main {
        overflow: hidden;
        height: 100vh;
    }
    
    nav {
        display: inline-flex;
        position: absolute;
        height: 100%;
        width: 200px;
        left: 0;
        background-color: grey;
        margin-left: -200px;
    }
    
    .section {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }
    
    .btn {
        all: unset;
        border: solid black 2px;
        font-size: 21px;
        font-weight: bold;
        padding: 15px 33px;
        border-radius: 40px;
        transition: 0.13s ease-in-out;
        display: inline-block;
        margin-bottom: 10px;
    }
    
    .sqr-btn {
        background-color: black;
        font-size: 19px;
        font-weight: bold;
        text-align: center;
        padding: 15px 0;
        width: 120px;
        margin-right: 10px;
        color: white;
        display: inline-block;
        transition: 0.3s ease-in-out;
    }
    
    .purple {
        background: rgb(120, 59, 245);
        background: linear-gradient(342deg, rgba(120, 59, 245, 1) 10%, rgba(173, 101, 225, 1) 100%);
    }
    
    .light-purple {
        background: rgb(120, 59, 245);
        background: linear-gradient(-20deg, #9865fe 0%, #c377f3 100%);
    }
    
    .ignore {
        position: absolute;
    }
    
    #btn-purple {
        background: linear-gradient(350deg, #8040f2 10%, #b05ee4 90%);
        color: white;
        border: 0px;
        transition: 0.3s;
    }
    
    #btn-purple:hover {
        background: linear-gradient(350deg, #9965f4 10%, #b47be9 90%);
    }
    
    #btn-red {
        background-color: #d7000f;
        color: white;
        border: 0px;
    }
    
    .btn:hover {
        background-color: rgba(200, 200, 200, 0.5);
    }
    
    #btn-red:hover {
        background-color: #e03844;
    }
    
    #test-cont {
        width: 900px;
        height: 700px;
        display: flex;
        background-color: rgba(0, 0, 0, 0.7);
        background-image: url("img/smoke.jpg");
        background-position: center;
        background-size: cover;
        background-blend-mode: darken;
    }
    
    .big-font {
        font-size: 50px;
    }
    
    .bigger-font {
        font-size: 85px;
        font-weight: bolder;
        letter-spacing: -0.05em;
        margin-bottom: 0;
    }
    
    #img1 {
        left: 13%;
        width: 33vw;
        z-index: 1;
    }
    
    #background1 {
        width: 37%;
        height: 100%;
        left: 0;
        align-self: flex-start;
    }
    
    .section.one {
        height: 100vh;
        position: relative;
        flex-direction: row;
    }
    
    .section.two {
        height: 100vh;
        width: 100%;
    }
    
    .section.two p {
        color: white;
    }
    
    #text1 {
        width: 40vw;
        text-align: left;
        margin-left: 5vw;
        display: flex;
        flex-direction: column;
    }
    
    #p1 {
        color: #555555;
        font-size: 22px;
        line-height: 1.5em;
        margin-top: 40px;
        padding-right: 5vw;
    }
    
    #background2 {
        height: 100vh;
        width: 100vw;
        background-image: url("img/smoke.jpg");
        background-size: cover;
        background-color: black !important;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    
    #img2 {
        width: auto;
        max-width: 75%;
        height: auto;
        max-height: 65%;
        margin-bottom: 30px;
    }
    
    @media screen and (max-width: 900px) {
        .big-font {
            font-size: 30px;
        }
        .bigger-font {
            margin-top: 15px;
        }
        #background1 {
            height: 10vh;
            width: 100%;
            top: 0;
        }
        #img1 {
            width: 30%;
            align-self: center;
            left: initial;
        }
        .section.one {
            flex-direction: column;
        }
        #text1 {
            width: 90%;
            text-align: center;
            margin: 10px 8% 30px;
        }
        #p1 {
            font-size: 19px;
        }
    }
    
    @media screen and (max-width: 700px) {
        .bigger-font {
            font-size: 38px;
            margin: 10px 0 15px;
        }
    }