@font-face {
    font-family: "Tahoma";
    src: url("../assets/fonts/Tahoma.woff");
}

* {
    box-sizing: border-box;
}

a {
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    transition: ease-in-out 0.2s;
}

a:hover {
    color: #6851FF;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: Tahoma;
    height: 100vh;
}

.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
}

.flex.column {
    flex-direction: column;
}

.flex.center {
    justify-content: center;
}

img {
    width: auto;
    height: auto;
}

#container {
    transition: 0.7s ease-in-out;
    display: inline-block;
}

#main {
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

#nav {
    position: fixed;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    font-stretch: 50%;
    color: black;
    font-size: 14px;
    background-color: white;
    -webkit-box-shadow: 0px 6px 12px -8px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 6px 12px -8px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 6px 12px -8px rgba(0, 0, 0, 0.35);
    padding: 0 12% 0 7%;
}

#nav span {
    justify-self: flex-end;
    float: right;
}

#nav a {
    margin: 0 20px;
    cursor: pointer;
    color: #d7000f;
    font-size: 16px;
    font-family: tahoma;
    font-weight: bolder;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    justify-self: flex-start;
}

#nav img {
    height: 35px;
    width: auto;
}

#nav a:hover {
    color: black;
}

footer {
    display: flex;
    width: 100%;
    background-color: #eeeeee;
    height: 60px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20%;
    position: absolute;
    left: 0;
    bottom: 0;
}

#slide-marker {
    position: absolute;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    border-left: white 2px solid;
    border-bottom: white 2px solid;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%) rotate(-45deg);
    padding: 15px;
    cursor: pointer;
}

.section {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.btn {
    all: unset;
    border: solid black 2px;
    font-size: 21px;
    font-weight: bold;
    padding: 15px 33px;
    border-radius: 40px;
    transition: 0.13s ease-in-out;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
}

.sqr-btn {
    background-color: black;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
    width: 120px;
    margin-right: 10px;
    color: white;
    display: inline-block;
    transition: 0.3s ease-in-out;
}

.purple {
    background: rgb(185, 17, 91);
    background: linear-gradient(90deg, rgba(185, 17, 91, 1) 0%, rgba(205, 62, 143, 1) 100%);
}

.light-purple {
    background: rgb(185, 17, 91);
    background: linear-gradient(90deg, rgba(185, 17, 91, 1) 0%, rgba(205, 62, 143, 1) 100%);
}

.ignore {
    position: absolute;
}

#btn-purple {
    background: rgb(185, 17, 91);
    background: linear-gradient(90deg, rgba(185, 17, 91, 1) 0%, rgba(245, 42, 134, 1) 100%);
    color: white;
    border: 0px;
    transition: 0.3s;
}

#btn-purple:hover {
    background: rgb(222, 37, 118);
    background: linear-gradient(90deg, rgba(222, 37, 118, 1) 0%, rgba(255, 75, 157, 1) 100%);
}

#btn-red {
    background-color: #d7000f;
    color: white;
    border: 0px;
}

.btn:hover {
    background-color: rgba(200, 200, 200, 0.5);
}

#btn-red:hover {
    background-color: #e03844;
}

#test-cont {
    width: 900px;
    height: 700px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url("assets/smoke.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
}

.big-font {
    font-size: 50px;
    line-height: 1em;
}

.grid_container {
    width: 83%;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 30px;
    margin: 0 0 100px;
}

.grid_item:hover {
    border: 1px #d7000f solid !important;
    box-shadow: 0 0 3px #8d2d2f;
}

.site h2 {
    font-size: 32px;
    font-weight: bold;
    color: black;
}

.t .left,
.right {
    width: 100%;
    box-sizing: border-box;
    float: left;
}

.left>div {
    float: right;
}

.t .text,
.image {
    box-sizing: border-box;
    float: left;
}

.t .image {
    width: 35%;
}

.t .text {
    width: 65%;
}

.t .image {
    text-align: center;
}

.image img {
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (max-width: 480px) {
    .t .image,
    .t .text {
        width: 100%;
    }
    .grid_container {
        grid-template-columns: 1fr !important
    }
    .baner {
        display: none !important;
    }
    .site h2 {
        font-size: 22px !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 991px) {
    .t .image,
    .t .text {
        width: 100%;
    }
    .grid_container {
        grid-template-columns: 1fr 1fr !important
    }
    .site h2 {
        font-size: 24px !important;
    }
}

.bigger-font {
    font-size: 85px;
    font-weight: bolder;
    letter-spacing: -0.05em;
    margin-bottom: 0;
    line-height: normal;
}

#img1 {
    left: 13%;
    width: 33vw;
    z-index: 1;
}

#background1 {
    width: 37%;
    height: 100%;
    left: 0;
    align-self: flex-start;
}

.section.zero {
    padding: 0 7%;
}

.section.one {
    height: 100vh;
    position: relative;
    flex-direction: row;
}

.section.two p {
    color: white;
}

.section.three {
    height: 100vh;
    align-items: flex-start;
    padding: 80px 3%;
    flex-direction: row;
}

.section.three h1 {
    color: #333333;
}

.section.four {
    height: 100vh;
    padding: 0 7%;
}

section.five {
    text-align: left;
    align-items: flex-start;
    padding: 5% 5% 70px;
    position: relative;
}

.section.five div {
    margin-top: 1px;
    margin-bottom: 2px;
    font-size: 14px;
}

#text1 {
    width: 40vw;
    text-align: left;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
}

#p1 {
    color: #555555;
    font-size: 17px;
    line-height: 1.5em;
    margin-top: 40px;
    padding-right: 5vw;
}

#background2 {
    height: 100%;
    width: 100vw;
    background-image: url("assets/smoke.jpg");
    background-size: cover;
    background-color: black !important;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 90px 20px;
}

#img2 {
    width: auto;
    max-width: 70%;
    height: auto;
    max-height: 60%;
    margin-bottom: 30px;
}

#left3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    font-size: 16px;
    line-height: 1.6em;
    height: 100%;
    width: 60%;
    padding-right: 6%;
}

#left3 h1 {
    margin-bottom: 25px;
    margin-top: 0;
}

#left3 p {
    margin: 15px 0;
}

#right3 {
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#right3 img {
    width: 100%;
    height: auto;
}

.div5 {
    width: 50%;
    max-width: 500px;
}

.left5 {
    display: inline-block;
    width: 35%;
    margin-right: 3%;
}

.right5 {
    display: inline-block;
    width: 58%;
    margin-right: 4%;
}

@media screen and (max-width: 900px),
(max-height: 800px) {
    .grid_container {
        margin: 0 0 25px;
    }
    .section {
        height: initial;
    }
    .flex.rwd-row {
        flex-direction: row;
    }
    .flex.rwd-column {
        flex-direction: column;
    }
    .flex.rwd-center {
        align-items: center;
        max-width: 100%;
    }
    .section.zero {
        min-height: 100vh;
    }
    .section.one {
        margin-top: 100px;
        flex-direction: column;
        height: initial;
    }
    .section.two {
        height: initial;
    }
    .section.three {
        height: initial;
        flex-direction: column-reverse;
        padding: 65px 8% 15px;
    }
    .section.three h1 {
        align-self: center;
        text-align: center;
    }
    .section.four {
        height: initial;
    }
    #slide-marker {
        display: none;
    }
    .mobile {
        font-size: 0.9em;
    }
    nav span {
        display: none;
    }
    .big-font {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .bigger-font {
        margin: 10px 0 15px;
        margin-top: 15px;
        font-size: 38px;
    }
    .mobile {
        font-size: 0.8em;
        line-height: 1.4em;
    }
    #right3 img {
        width: 60%;
    }
    #main {
        overflow-y: scroll;
    }
    .ignore {
        display: none;
    }
    .mobile-center {
        flex-direction: column;
        align-items: center;
    }
    .mobile-center div {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .mobile {
        line-height: 1.4em;
        text-align: center;
    }
    #background1 {
        height: 10vh;
        width: 100%;
        top: 0;
    }
    #img1 {
        width: 30%;
        align-self: center;
        left: initial;
    }
    #text1 {
        width: 90%;
        text-align: center;
        margin: 10px 8% 30px;
    }
    #p1 {
        font-size: 19px;
    }
    #left3 {
        display: flex;
        width: 100%;
        padding-right: 0;
        justify-content: flex-start;
        align-items: center;
    }
    #right3 {
        width: 100%;
        padding: 4% 10%;
        height: initial;
    }
    #right3 img {
        width: 40%;
    }
    .div5 {
        max-width: initial;
        width: 90%;
    }
}